name: Git Action 12

on: 
  workflow_dispatch:

jobs:
  
    print-event:
      runs-on: ubuntu-latest
  
      steps:
        - name: Print the event that triggered this workflow
          run: |
            echo ${{ github.event_name }}
  
        - name: Print the current time
          run: |
            echo $(date)
            
        - name: Repository Dispatch
          uses: peter-evans/repository-dispatch@v2
          with:
            token: ${{ secrets.REPO_PAT }}
            event-type: my-event
            client-payload: '{ "firstJobEvent" : "isma"}'